[Unit]
Description=GPS Tracker node
Requires=mongodb.service
After=mongodb.service

[Service]
Type=simple
ExecStart=/usr/bin/node /var/gps-tracker/main.js 2>&1
ExecStop=kill -9 $(pgrep node)
