[Unit]
Description=GPS Tracker node
Requires=mongod.service
After=mongod.service

[Service]
Type=simple
ExecStart=/usr/bin/node /var/gps-tracker/main.js &2>1
ExecStop=kill -9 $(pgrep node)
