input {
	padding: 5px;
}
input:hover {
  cursor: pointer;
}
input.field {
  border: 2px solid white;  
}
input#update-pwd {
	width: 5em;
}
input:focus {
  border-bottom-color: #a03232;
}
input[dtpicker] {
  width: 9em;
}
#tabs {z-index: 1;}
#map {
	position: absolute;
	width: 99%;
	height: 99%;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#query-box {
	position: absolute;
	padding: 0.4em;
	left: 10%;
	z-index: 1;
	width: 35em;
	top: 0em;
}
.shortcut {
	display: inline-block;
	font-size: larger;
	padding: 0.2em;
	background: white;
	box-shadow: 0.1em 0.1em 0.2em 0em rgb(0,0,0);
	border: rgb(52,141,255) 1px none;
	border-radius: 0em 0em 0.5em 0.5em;
}
#query-params {
	position: absolute;
	padding: 0.4em;
	left: 10%;
	z-index: 1;
	min-width: 25em;
	top: 1em;
	height: 2.5em;
/*	box-shadow: 0.1em 0.1em 0.2em 0em rgb(0,0,0);*/
	border: rgb(52,141,255) 1px none;
	border-radius: 0em 0em 1em 0em;
	padding-left: 0.5em;
}
#query-params > input[type="text"] {
  width: 8em;
}
#query-params > select {
  min-width: 5em;
  height: 2.3em;
}
#print-frame {
	display: none;
	position: fixed;
}
#clock {
	font-size: smaller;
	border: #df7611;
}
#select {
	border-radius: 0.2em;
	padding: 0.2em;
	background: #E5E3E1;
	position: absolute;
	z-index: 2;
}
/* app css stylesheet */
body {
  background: #333;
}

/* Frame */
.frame {
  position: absolute;
  right: 20px;
	height: 800px;
	width: 4em;
	overflow: visible;
}
.frame .slidee {
/*	background: #fff;*/
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
.frame ul li {
	float: right;
	margin: 0 0 1px;
	background: #333;
	color: #ddd;
	cursor: pointer;
	min-width: 4em;
	position: relative;
	padding: 0.5em 1em 0.5em 1em;
	text-align: right;
/*	height: 2em;*/
  white-space: nowrap;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;
}
/* Scrollbar */
.scrollbar {
	position: absolute;
	right: 10px;
	width: 2px;
	height: 600px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
};
